* {
  box-sizing: border-box;
}

/* head */
.title {
  color: #535fa1;
  margin: 20px auto;
  max-width: 800px;
  width: 100%;
  line-height: 68px;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-align: center;
}

/* main */
main {
  background-color: #ffffff;
  border: 2px solid #000000;
  max-width: 800px;
  width: 100%;
  height: 856px;
  margin: 0px auto;
  letter-spacing: 0.04rem;
}

form {
  background-color: #8f9cde;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 16px;
}

#input-text {
  background-color: #ffffff;
  width: 376px;
  height: 44px;
  font-size: 23px;
  line-height: 28px;
  padding: 8px 8px;
  letter-spacing: 0.04em;
}

button {
  color: #ffffff;
  width: 100%;
  max-width: 120px;
  height: 44px;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 31px;
  letter-spacing: 0.04em;
  border: none;
}

.add {
  background-color: #334acc;
}

.reset {
  background-color: #da3232;
}

ol {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 16px;
}

.listbox {
  display: flex;
  gap: 35.17px;
  align-items: center;
}

input[type="checkbox"] {
  width: 28px;
  height: 28px;
  margin-left: 16px;
}

li {
  font-size: 23px;
  letter-spacing: 0.02em;
  flex-grow: 1;
  max-width: 642px;
}

.deleter {
  background-color: #c8bfbf;
  width: 28px;
  height: 28px;
  display: inline-block;
  margin-right: 16px;
}
